/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
.gitattributes
/app/Console/
/app/Exceptions/
/app/Providers/
/app/User.php
artisan
/bootstrap/
composer.json
composer.lock
/config/
/database/
package.json
phpunit.xml
public/
readme.md
/resources/assets/
/resources/lang/
server.php
/storage/
/tests/
webpack.mix.js

